.one{
    background: url(/images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70px;
    background-color: $work;
}
.two{
    background: url(/images/icon-play.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70px;
    background-color: $play;
}
.three{
    background: url(/images/icon-study.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70px;
    background-color: $study;
}
.four{
    background: url(/images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70px;
    background-color: $exercise;
}
.five{
    background: url(/images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70px;
    background-color: $social;
}
.six{
    background: url(/images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70px;
    background-color: $selfcare;
}